/* roboto-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}
/* roboto-600 - latin */
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/roboto-v49-latin-600.woff2") format("woff2");
}

:root {
	--color-brand: #011c44;
	--color-primary-light: #fff;
	--color-accent: #2b7fff;
	--color-secondary-grey: #747272;
	--fonts-play: "play", sans-serif;
	--fonts-roboto: "Roboto", sans-serif;
}

.body {
	color: var(--color-brand);
	font-family: var(--fonts-roboto);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.33333;
}

address {
	font-style: normal;
}
/* header */

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 32px 0px;
	backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.25);
}
._container {
	width: 100%;
	max-width: 1288px;
	margin: 0 auto;
	padding: 0 24px;
}

.header__flex-container {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header__nav {
	display: flex;
	flex-grow: 1;
	gap: 40px;
}
.header-logo {
}
.logo-top {
}
/* .header__menu {
} */
.menu-top {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	gap: 56px;
	font-weight: 400;
	align-items: center;
}
.menu-top__list-item {
}
.menu-top__link {
	transition: color 0.3s ease;
}
.menu-top__link:hover {
	color: var(--color-accent);
}
/* .header__social {
} */
.social-top {
	display: flex;
	gap: 32px;
}
.social-top__list-item {
}
.social-top__link {
}
.social-top__image {
}

/* hero section */
.hero {
	padding: 122.52px 0 126.48px 0;
	background:  linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%), url(../img/bcmain&header.jpg) center top no-repeat;
}
.main-title {
	margin: 0 0 16px 0;
}
.main-title_bigblu {
	display: inline-block;
	text-transform: capitalize;
	color: var(--color-accent);
	font-family: var(--fonts-play);
	font-size: 140px;
	font-weight: 700;
	line-height: 0.81429;
	margin: 0 0 40px 0;
}
.hero__button-block {
	max-width: 238px;
	width: 100%;
	text-align: center;
}
.button-main {
	color: var(--color-primary-light);
	background: var(--color-accent);
	border-radius: 32px;
	border: 2px solid var(--color-accent);
	font-size: 18px;
	padding: 16px 32px;
	margin: 0 0 14px 0;
	font-weight: 600;
	transition: all 0.3s ease;
}
.button-main:hover {
	color: var(--color-brand);
	background: transparent;
	border: 2px solid var(--color-accent);
}

.button-description {
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
}

/* section about-us */
.about-us {
}
.about-us__flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
}

.about-us__title-block {
}
.about-us__title {
	margin: 0 0 40px 0;
}
.title {
	font-size: 64px;
	font-weight: 700;
	font-family: var(--fonts-play);
}
.about-us__title .title_color-blu {
	color: var(--color-accent);
	text-transform: capitalize;
}
.title_color-blu {
	color: var(--color-accent);
}

.about-us__text {
	font-size: 22px;
	font-weight: 400;
	line-height: 38px;
	max-width: 650px;
}

.about-us__text:not(:last-child) {
	margin-bottom: 40px;
}

.about-us__text_color-black {
	font-size: 22px;
	font-weight: 600;
	text-transform: capitalize;
}
.about-us__imb-block {
}

/* section why-choose-us */
.why-choose-us {
	padding: 176px 0 96px 0;
	background-color: #9dc4f9; /* нужно будет поменять */
}

.why-choose-us._container {
	max-width: 1060px;
}

.why-choose-us__title {
	text-align: center;
	max-width: 432px;
	margin: 0 auto 40px auto;
}

.why-choose-us__list {
	display: flex;
	justify-content: space-between;
	gap: 56px;
	flex-wrap: wrap;
}
.why-choose-us__list-item {
	text-align: center;
	flex: 0 0 calc((100% - 112px) / 3);
	padding: 24px 32px;
	border-radius: 32px;
	box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
	background: #fff;
}
.why-choose-us__block {
}

.why-choose-us__image {
	width: 48px;
	height: 48px;
	text-align: center;
	margin: 0 0 8px 0;
}
.why-choose-us__text {
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

/* section our-procedures */
.our-procedures {
}
.our-procedures__title {
	text-align: center;
}
.our-procedures__group {
	display: flex;
	align-items: center;
	gap: 32px;
}

.button-arrow-left,
.button-arrow-right {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 1px solid var(--color-brand);
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	fill: var(--color-brand);
}

.button-arrow-left:hover,
.button-arrow-right:hover {
	background-color: var(--color-accent);
	border: 1px solid var(--color-primary-light);
	fill: var(--color-primary-light);
}

.our-procedures__list {
	max-width: 1064px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 32px 16px;
	flex-wrap: wrap;
}
/* .our-procedures__list-item:nth-child(1) {
	background: url(../img/face_masks0.jpg) center no-repeat;
	
}
.our-procedures__list-item:nth-child(2) {
	background: url(../img/facial_injections.jpg) center no-repeat;
	
}
.our-procedures__list-item:nth-child(3) {
	background: url(../img/facial_cleancing.jpg) center no-repeat;
	
} */

.our-procedures__block {
	max-width: 344px;
	width: 100%;
	max-height: 456px;
	height: 100%;
	position: relative;
	transition: transform 0.5s ease-in-out;
}
.our-procedures__block:hover {
	transform: scale(1.05);
}

.our-procedures__image {
}
.subtitle {
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	color: var(--color-primary-light);
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 372px 77px 32px 115px;
}
.button-arrow-right {
	transform: rotate(180deg);
}

/* section how-find-us */
.how-find-us {
	padding: 96px 0 96px 0;
	background-color: #f3f7ff;
}
.how-find-us._container {
	max-width: 1060px;
}
.how-find-us__flex-container {
	display: flex;
	gap: 32px;
}
.how-find-us__title {
	text-align: center;
	margin: 0 0 48px 0;
}
.title {
}
.title_color-blu {
}
.map {
	flex-shrink: 0;
	border: none;
	width: 100%;
	max-width: 605px;
	height: 481px;
	border-radius: 32px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.75);
}

.how-find-us__form {
}

.form {
	background: var(--color-brand);
	border-radius: 32px;
	padding: 48px 56px;
}

.form__title {
	max-width: 274px;
	color: var(--color-primary-light);
	font-size: 13px;
	font-weight: 600;
	font-family: var(--fonts-roboto);
	text-align: center;
	margin: 0 0 16px 0;
}

/* footer */
.footer {
	font-size: 16px;
	background: var(--color-brand) url(../img/footer-bg-right.png) bottom right no-repeat;
	padding: 56px 0;
}
.footer__flex-container {
	display: flex;
	gap: 20px;
}

.footer__nav,
.footer__adress {
	display: flex;
	flex-basis: 50%;
	gap: 20px;
}

.footer__logo-block,
.menu-bottom {
	flex-grow: 1;
}
.logo-bottom {
}

.menu-bottom {
}

.menu-bottom__list-item:not(:last-child),
.adress__list-item:not(:last-child) {
	margin: 0 0 16px 0;
}
.menu-bottom__link {
	color: var(--color-primary-light);
}

.adress {
}

.adress__list,
.privacy {
	flex-grow: 1;
}

.adress__list-item {
}
.address__link {
	color: var(--color-primary-light);
}
.address__link:hover {
	font-size: 16px;
	color: var(--color-primary-light);
	text-decoration: underline 2px var(--color-accent);
}
.social-bottom {
	display: flex;
	gap: 24px;
}
.social-bottom__list-item {
}
.social-bottom__link {
}
.social-bottom__icon {
	fill: var(--color-primary-light);
}
.social-bottom__icon:hover {
	fill: var(--color-accent);
}

.privacy-policy {
	color: var(--color-primary-light);
}

.privacy-date {
	font-size: 13px;
	color: var(--color-secondary-grey);
}

/* modal */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* width: 100%;
		height: 100%; */
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: relative;
	background-color: var(--color-brand);
	padding: 42px 0;
	max-width: 723px;
	width: 100%;
	max-height: 781px;
	height: 100%;
	border-radius: 48px;
}

.modal__close-button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 42px;
	right: 42px;
	color: var(--color-primary-light);
}
.modal__svg {
	fill: var(--color-primary-light);
}

.modal__title {
	text-align: center;
}
.title {
}

.modal__text {
}

.modal__text_color-blu {
}
.modal__form {
}
.form {
}
