:root {
	--color-brand: #011c44;
	--color-primary-light: #fff;
	--color-accent: #2b7fff;

}

.body {
	color: var(--color-brand);;
}

.header {
}
.header__nav {
}
.header-logo {
	
}
.logo-top {
}
/* .header__menu {
} */
.menu-top {
}
.menu-top__list-item {
}
.menu-top__link {
	
}
.menu-top__link:hover {
	color: var(--color-accent);
}
/* .header__social {
} */
.social-top {
}
.social-top__list-item {
}
.social-top__link {
}
.social-top__image {
}
.hero {
}
.main-title {
}
.main-title_bigblu {
	text-transform: capitalize;
	color: var(--color-accent);
}
.hero__button-block {
}
.button-main {
	color: var(--color-primary-light);
	background: var(--color-accent);
	border-radius: 32px;
	border: 2px solid var(--color-accent);
	cursor: pointer;
}
.button-main:hover {
	color: 	var(--color-brand);
	background: transparent;
	border: 2px solid var(--color-accent);
	border-radius: 32px;
}
.button-description {
}
.about-us {
}
.about-us__title-block {
}
.about-us__title {
}
.title {
	font-size: 64px;
	font-weight: 700;
}
.about-us__title .title_color-blu {
	color: var(--color-accent);
	text-transform: capitalize;
}
.title_color-blu {
	color: var(--color-accent);
}

.about-us__text {
	font-size: 22px;
	font-weight: 400;
}
.about-us__text_color-black {
	font-size: 22px;
	font-weight: 600;
	text-transform: capitalize;
}
.about-us__imb-block {
}
.why-choose-us {
}
.why-choose-us__title {
	text-align: center;
}
.why-choose-us__list {
}
.why-choose-us__list-item {
}
.why-choose-us__block {
}
.why-choose-us__image {
	text-align: center;
}
.why-choose-us__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.33333;
	text-align: center;
}
.our-procedures {
}
.our-procedures__title {
	text-align: center;
}
.arrow-left {
}
.our-procedures__list {
}
.our-procedures__list-item {
}
.our-procedures__block {
}
.our-procedures__image {
}
.subtitle {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.18182;
	text-align: center;
	color: var(--color-primary-light);
}
.arrow_right {
}
.how-find-us {
}
.how-find-us__title {
}
.title {
}
.title_color-blu .how-find-us__image {
}
.how-find-us__block-sign-up {
}
.block-sign-up {
}
.block-sign-up__title {
}
.footer {
	background: var(--color-brand) url(../img/footer-bg-right.png) bottom right no-repeat;
}
.footer__nav {
}
.footer__logo {
}
.logo-bottom {
}
.footer__menu {
}
.menu-bottom {
}
.menu-bottom__list-item {
}
.menu-bottom__link {
}
.footer__adress {
}
.adress {
}
.adress__block {
}
.adress__list-item {
}
.address__link {
}
.social-bottom {
}
.social-bottom__list-item {
}
.social-bottom__link {
}
.social-bottom__img {
}
.privacy-policy {
}
