:root {
  --color-brand: #011c44;
  --color-primary-light: #fff;
  --color-accent: #2b7fff;
  --color-secondary-grey: #747272;
  --color-secondary-lightgrey: #9747ff;
  --color-disabled-grey: #c4c4c4;
  --fonts-play: "play", sans-serif;
  --fonts-roboto: "Roboto", sans-serif;
}