.backdrop {
  color: var(--color-primary-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
		height: 100%; */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  background-color: var(--color-brand);
  padding: 42px 144px;
  max-width: 723px;
  width: 100%;
  max-height: 781px;
  height: 100%;
  border-radius: 48px;
  overflow-y: auto;
}

.modal__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 42px;
  right: 42px;
  color: var(--color-primary-light);
}
.modal__svg {
  fill: var(--color-primary-light);
}

.modal__title {
  text-align: center;
  margin: 0 0 40px 0;
}

.modal__text {
  font-weight: 600;
  font-size: 22px;
  font-family: var(--fonts-roboto);
  text-align: center;
  margin: 0 0 32px 0;
}

.modal__text_color-blu {
  color: var(--color-accent);
}

/* Form modal */
.modal__form {
}

.form {
}

.form__input-block_modal {
  position: relative;
  margin: 0 0 24px 0;
}

.form__label {
  position: absolute;
  display: block;
  font-size: 13px;
  font-weight: 400;
  top: 18px;
  left: 32px;
  transition: all 0.3s ease;
}

.form__input {
  width: 100%;
  padding: 18px 32px;
  border-radius: 32px;
  background-color: transparent;
  border: 2px solid var(--color-secondary-grey);
  color: var(--color-primary-light);
}

.form__input:focus {
  background: var(--color-secondary-grey);
  border: 2px solid var(--color-secondary-grey);
  outline: none;
}
.form__input:disabled {
  background: var(--color-disabled-grey);
  border: currentColor;
  color: var(--color-primary-light);
}

.form__input-block:focus-within .form__label {
  transform: translate(-24px, -40px);
  font-size: 12px;
}

.form__button-block {
}
.button-main.form__submit-button {
  display: block;
  max-width: 281px;
  width: 100%;
  margin: 0 auto 8px auto;
}

.form__submit-button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-brand);
}

.form__submit-button:disabled {
  background-color: var(--color-disabled-grey);
  color: var(--color-primary-light);
  border: currentColor;
  cursor: not-allowed;
}

.form__privacy-text {
  max-width: 212px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-grey);
  margin: 0 auto;
  text-align: center;
}

.form__privacy-text a {
  color: var(--color-secondary-grey);
  text-decoration: underline;
  text-underline-offset: 2px;
}