.our-procedures {
}
.our-procedures__title {
  text-align: center;
  margin: 0 0 48px 0;
}
.our-procedures__group {
  display: flex;
  align-items: center;
  gap: 32px;
}

.button-arrow-left,
.button-arrow-right {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-brand);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  fill: var(--color-brand);
}

.button-arrow-left:hover,
.button-arrow-right:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-primary-light);
  fill: var(--color-primary-light);
}

.our-procedures__list {
  max-width: 1064px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 32px 16px;
  flex-wrap: wrap;
}
/* .our-procedures__list-item:nth-child(1) {
	background: url(../img/face_masks0.jpg) center no-repeat;
	
}
.our-procedures__list-item:nth-child(2) {
	background: url(../img/facial_injections.jpg) center no-repeat;
	
}
.our-procedures__list-item:nth-child(3) {
	background: url(../img/facial_cleancing.jpg) center no-repeat;
	
} */

.our-procedures__block {
  max-width: 344px;
  width: 100%;
  max-height: 456px;
  height: 100%;
    padding: 372px 77px 32px 115px;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.our-procedures__block:hover {
  transform: scale(1.05);
}

.our-procedures__image {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%; 
  z-index: -1;

}
.subtitle {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: var(--color-primary-light);

}
.button-arrow-right {
  transform: rotate(180deg);
}
