.why-choose-us {
  padding: 176px 0 96px 0;
  background-color: #9dc4f9; /* нужно будет поменять */

  &__title {
    max-width: 432px;
    margin: 0 auto 40px auto;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 56px;
    flex-wrap: wrap;
  }
  &__list-item {
    text-align: center;
    flex: 0 0 calc((100% - 112px) / 3);
    padding: 24px 32px;
    border-radius: 32px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background: #fff;
  }
  &__image {
    width: 48px;
    height: 48px;
    text-align: center;
    margin: 0 0 8px 0;
  }
  &__text {
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

title {
  &.title_centered {
    text-align: center;
  }
}

.why-choose-us__block {
}
